
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@700&family=Oswald:wght@500&display=swap');

* { /* Good resizing measure for multiple screen sizes */
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* Disables horrizontal sidebar */
}

body {
    margin: 0;
    padding: 0;
      /*For some reason this allows the color of other sections (its child sections) to extend to the edge. Without this, there will be 
      some white on the edge or whatever color the body is if there is any. */

}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: #333; */
    background-color: #616161;
    color: white;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); 
}

.brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
    white-space: nowrap;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Oswald', sans-serif;
}

.brand-title a {
    text-decoration: none;
    color: white;
}

.navbar-links ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a, .dropdown {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block; /* Helps with spacing overall */
}

.navbar-links li:hover {
    background-color: #555;
}

/* NON RESPONSE NAVBAR COMPLETE */
/* Now need to make it responsive */

/* Hamburger Button */
.toggle-button {
    position: absolute; /* Allows us to force it to be on right side of screen
    without messing with flow of the rest of the elements */
    top: .75rem;
    right: 1rem; /* 1rem from the right side of the screen */
    display: none;
    flex-direction: column; /* Allows spans to line up on top of each other */
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar { /* Three lines thing (uses the span in html) */
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* .dropdown {
    float: left;
    overflow: hidden;
} */

.dropdown .dropbtn {
    font-size: inherit;
    border: none;
    outline: none;
    /* display: block; */
    /* color: white; (From website) */
    /* padding: 10px 40px; */
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    /* margin: 0; /* Important for vertical align on mobile phones * */
}

/* Add a red background color to dropdowns on hover */
.dropdown:hover .dropbtn {
    background-color: #555;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none; /* Hides itself */
    position: absolute; /* Prevents navbar from changing when dropdown is opened */
    background-color: #616161;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1rem;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #555;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* END OF NAVBAR SECTION */


.banner-txt {
    width: 24%;
    padding: 1% 2%;
    position: absolute;
    left: 15.270833%;
    top: 12%;
    background: #fff;
    border-radius: 5px;
    z-index: 9;
}

.banner-txt a {
    text-decoration: none;
}

.welcome-link {
    width: 100%;
    height: 44px;
    border: 1px solid #ba382c;
    background: #ba382c;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
}

.banner-txt2 {
    display: none;
}

#banner-image {
    width: 100%;
    height: auto;
    max-height: calc(100vh);
    display: block;
    margin: 0 auto;
    padding: 0;
    object-fit: cover;
    /*
    height: calc(100vh - 100px);
    object-fit: cover;
    */
}





#welcome-section {
    width: 100%;
    height: 95vh; /* Without this, navbar cuts off title */
    padding: 1% 60px 0; /* Syntax for Values: top [left and right] bottom */
    margin: 0 auto;
}

#welcome-section h1 {
    margin-top: 3rem;
}

#features { /* Parent container */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

.features-item { /* First child (container for img and text) */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    object-fit: cover;
    margin: 4rem 1rem;
    padding: 0 4px;
    /* background-color: blue; */
}

.features-img { /* Second child (image) */
    width: 20%;
    height: 5rem;
    padding: 0 4px;
    /* background-color: red; */
}

.features-text { /* Second child (text box/div) */
    width: 55%;
    padding: 0 8px;
    /* background-color: pink; */
}



/* #features img {
    width: 25%;
    object-fit: cover;
    background-color: red;
    /* height: 300px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px; /
} */

.box { /* TEST STUFF */
    background-color: red;
    width: 250px;
    height: 250px;
}

@media (max-width: 1110px) {
    #features {
        justify-content: center;
    }

    .features-item { /* First child (container for img and text) */
        width: 45%;
        margin: 1rem 1rem;
        height: auto;
    }
    
    .features-img { /* Second child (image) */
        width: 30%;
    }
    
    .features-text { /* Second child (text box/div) */
        width: 100%;
    }

    .banner-txt {
        display: none;
    }

    .banner-txt2 {
        display: block;
    }

}

@media (max-width: 850px){
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a, .dropdown {
        padding: 0.5rem 1rem; /* Brings vertical nav links closer together */
    }

    .navbar-links.active {
        display: flex;
    }

    .dropdown-content {
        left: 48%;
        margin-top: 0.5rem;
    }

    #welcome-section {
        padding: 5% 1rem 0; /* Syntax for Values: top [left and right] bottom */
    }

    #features {
        justify-content: flex-start;
    }

    .features-item { /* First child (container for img and text) */
        width: 100%;
        margin: 1rem 1rem;
        height: auto;
    }
    
    .features-img { /* Second child (image) */
        width: 20%;
    }
    
    .features-text { /* Second child (text box/div) */
        width: 100%;
    }
}